html
  head
    link(rel='stylesheet', href='/visualisation/visualisation.css')


    title= title

  body
    h1 Wallet-Web!
    p Enter Etherscan API and source wallet below:
    form(action="/submit", method="post")
      label(for="etherscan-api") Etherscan API
      input#etherscan-api(type="text" name="etherscanApi" value="ANDMBHZWGBCBD1E1W67CMEIH53D8HZMUYK")
      label(for="source-wallet") Source Wallet
      input#source-wallet(type="text" name="sourceWallet" value="0xDa06d7bF334bc5cCec9CB76de194565937378140")
      label(for="depth") Search Depth
      input#depth(type="number" name="depth" min = 1 value = 2)
      button(type="submit") Submit



