html
  head
    link(rel='stylesheet', href='/visualisation/visualisation.css')
    title= title

  body
    h1 Wallet-Web!
    p Enter Etherscan API and source wallet below:
    form(action="/submit", method="post")
      // Auto-populates API value if cookie is present
      div
        label(for="etherscan-api") Etherscan API  |  
        if etherscanApi
            input#etherscan-api(type="text" name="etherscanApi" value=etherscanApi)
        else
            input#etherscan-api(type="text" name="etherscanApi" value="")

      div
        label(for="source-wallet") Source Wallet  |  
        input#source-wallet(type="text" name="sourceWallet" value="0xDa06d7bF334bc5cCec9CB76de194565937378140")

      div
        label(for="depth") Search Depth
        input#depth(type="number" name="depth" min = 1 value = 1)

      div
        label(for="store-api") Store API key in cookies
        input#store-api(type="checkbox" name="checkbox")
        #cookie-info(style="display: none")
          p * The key will be stored for <strong> 2 hours </strong> only

      div
        p Cookies will be used when choosing a new source wallet or generating new node data

      button(type="submit") Submit

    // If homepage has been requested from another link, check URL parameters
    script.
      document.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const sourceWallet = urlParams.get('sourceWallet');
        const storeApiCheckbox = document.getElementById('store-api');
        const apiStoreTimeDropdown = document.getElementById('cookie-info');

        if (sourceWallet) {
          document.getElementById('source-wallet').value = sourceWallet;
        }

        storeApiCheckbox.addEventListener('change', (event) => {
          apiStoreTimeDropdown.style.display = storeApiCheckbox.checked ? 'block' : 'none';
        });
      });
