html
  head
    link(rel='stylesheet', href='../visualisation/visualisation.css')


    title= title
    script(src="https://d3js.org/d3.v7.min.js")
    
  body    
    // Display graph in 'root' div
    #root 

    // Express passes the object 'data'. Handle it here in a way to avoid XSS attacks
    script.
      var data = !{JSON.stringify(data).replace(/</g, "\\u003c")};

    // Div to act as banner at the bottom which shows info on the clicked node  TODO / link
    #info

    
    script(type='module', src='../visualisation/visualisation.js')


